.counter-wrapper {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}
.increment {
  display: grid;
  gap: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #335d92;
  background-color: rgba(68, 107, 158, 0.1);
  border-radius: 2em;
  border: 2px solid rgba(68, 107, 158, 0);
  outline: none;
  width: 250px;
  font-variant-numeric: tabular-nums;
  margin-inline: auto;
  cursor: pointer;
}

.increment:focus {
  border: 2px solid #335d92;
}

.increment:active {
  background-color: rgba(68, 107, 158, 0.2);
}

.text-green {
  color: #4caf50;
}

.text-red {
  color: #f44336;
}
